[submodule "depends/openssl"]
	path = depends/openssl
	url = https://github.com/openssl/openssl
[submodule "depends/jemalloc"]
	path = depends/jemalloc
	url = https://github.com/jemalloc/jemalloc
[submodule "depends/boost/build"]
	path = depends/boost/build
	url = https://github.com/boostorg/build
